@charset "UTF-8";

@media screen and (min-width:778px){
    section{
        width: 770px;
        height: 500px;
    }

    section > div#imagem{
        background-image: url(../../images/img06/image-product-desktop.jpg);
        background-position: center top;
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
        float: left;
        width: 50%;
        border-radius: 10px 0px 0px 0px;
    }

    section > div#imagem > img{
        display: none;
    }

    section > div#principal{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#principal > h3{
        padding-top: 20px;
    }

    section > div#principal > h1 > br.quebra{
        display: block;
    }

    section > div#principal > h1 > br.mob{
        display: none;
    }

    div#preco{
        margin-top: 20px;
    }
    
    a{
        margin-top: 40px;
    }
}