@charset "UTF-8";

@media screen and (min-width:778px){
    section{
        width: 600px;
        height: 500px;
    }

    section > div#imagem{
        background-image: url(../../images/img06/image-product-mobile.jpg);
        background-position: center center;
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
        float: left;
        width: 40%;
        border-radius: 10px 0px 0px 0px;
    }

    section > div#imagem > img{
        display: none;
    }

    section > div#principal{
        float: right;
        width: 60%;
    }

    div#principal > h3{
        margin-top: 50px;
    }
    
 
}