@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100vw;
    height: 100vh;
    
}

body{
    background-color: black;
}

main{
    position: relative;
    background-color: white;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    

    transform: translate(-50%,-50%);
}