@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background-color: #F3EBE2;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{

    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 350px;
    height: 640px;
    border-radius: 10px;
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;

    transform: translate(-50%,-50%);
}

section > div#imagem{
    display: block;
    background: url(../../images/img06/image-product-desktop.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 290px;
    border-radius: 10px 10px 0px 0px;
}

section  h1,h3,p{
    margin-left: 20px;
    margin-top: 10px;
}

section > div#principal > h3{
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

section > div#principal >  h1{
    margin-top: 5px;
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    margin-left: 20px;
}

section > div#principal > h1 > br.quebra{
    display: none;
}

section > div#principal > p{
    line-height: 1.6em;
    font-size: 0.9em;
}

div#preco{
    display: flex;
    margin-bottom: 10px;
}

div#preco > p{
    margin-top: 15px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3F7261;
}

div#preco > p.antigo{
    font-size: 1em;
    margin-top: 25px;
}

a{
    background-color: #3D8168;
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: white;
    margin: auto;
    border-radius: 10px;
}

a > div#icon{
    margin-left: 100px;
}

a > div#compra{
    display: inline-block;
    margin-left: 0px;
    margin-top: 5px;
}

a:hover{
    background-color: #1A4031;
}

