@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #0D1A2D;
    position: relative;
}

div#container{
    position: absolute;
    top: 50%;
    left: 50%;

    
    background-color:#15273F;
    height: 600px;
    width: 400px;
    border-radius: 15px;

    transform: translate(-50%,-50%);
}

div#imagem{
    background: url(../../images/img07/image-equilibrium.jpg) no-repeat;
    background-size: 100% 100%;
    height: 350px;
    width: 85%;
    margin: auto;
    margin-top: 25px;
    border-radius: 15px;
}

div.titulo{
    margin-left: 30px;
    color: white;
    margin-top: 20px;
    font-size: 1.6em;
}

div.paragrafo{
    margin-left: 30px;
    color: #96ADCD;
    margin-top: 20px;
}

div.preco{
    margin-left: 30px;
    margin-top: 10px;
    color: #05F2DB;
    display: flex;
    border-bottom: 1px solid #2D3E56;
    padding-bottom: 20px;
    width: 350px;

}

div.preco > img{
    margin-right: 5px;
    display: inline-block;
}

div.preco > p{
    margin-left: 40%;
}

div.preco > p > img{
    margin-right: 5px;

}

div.avatar{

}