@charset "Utf-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../../images/img05/pattern-background-mobile.svg) ;
    background-color: #E0E8FF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center center;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;

    transform: translate(-50%, -50%);
}

div#imagem > img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

section > h1{
    text-align: center;
    margin-top: 10px;
    font-size: 1.8em;
}

section > p{
    text-align: center;
    line-height: 1.5em;
}

div#preco{
    background-color: #F8F9FE;
    width: 300px;
    margin-left: 25px;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}


