@charset "Utf-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../../images/img05/pattern-background-mobile.svg) ;
    background-color: #E0E8FF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 45%;
    
    
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    transition: width .3s, height .3s;

    transform: translate(-50%, -50%);
}

div#imagem > img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

section > h1{
    text-align: center;
    margin-top: 10px;
    font-size: 1.8em;
}

section > p{
    text-align: center;
    line-height: 1.5em;
}

aside{
    background-color: #F8F9FE;
    width: 300px;
    margin-left: 25px;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    display: flex;
}

aside > img{
    width: 50px;
    height: 50px;
    margin-left: 8px;
}

aside > ul{
    list-style-type: none;
    list-style-position: inside;
}

aside > ul > li{
    line-height: 1.8em;
    margin-left: 15px;
    font-size: 0.9em;
}

aside > a{
    display: inline-block;
    padding-top: 15px;
    font-size: 0.9em;
    padding-left: 70px;
}

aside > a:hover{
    color: #7b7b86;
}


a#pag{
    background-color: blue;
    width: 285px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 0px 15px 16px #E4E3FA;
}

a#pag:hover{
    background-color: #766CF1;
}

a#can{
    display: block;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    color: #687093;
}

a#can:hover{
    color: #0D152B;
}