@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #151415;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    background-color: white;
    width: 300px;
    height: 300px;
}