@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #151415;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    background-color: #1e1f1e;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

section img{
    padding-top: 40px;
    
}
p{
    line-height: 25px;
    color: white;
    font-weight: bold;
}

p#regiao{
    color: #D3F855;
}

p.link{
    background-color: #333333;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 0.9em;
}

p.link:hover{
    background-color: #D3F855;
    color: black;
    
}

a{
    text-decoration: none;
    color: white;
}